argon2-cffi
argon2-cffi-bindings

boto3
botocore

channels
channels-redis

Django
djangorestframework-api-response

django-cors-headers
django-environ
django-redis

django-storages
jsonpickle

djangorestframework

djangorestframework-simplejwt
djoser
PyJWT
social-auth-app-django
social-auth-core

Pillow
mutagen

psycopg2

python-slugify


web3
eth-account

whitenoise
uvicorn

rsa
LWE4